.header {
  position: relative;
}

.nav-container {
  width: 90%;
  max-width: 160rem;
  margin: 0 auto;

  padding: 2rem 0;
}

.nav {
  display: flex;
  gap: 8rem;
}

.logo {
  font-size: 4.4rem;
}

.logo a {
  color: var(--almost-Black);
  font-weight: 700;
  list-style-type: none;
  text-decoration: none;
}

.nav-link-item {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  list-style-type: none;
  z-index: 100;
}

.nav-link-item li {
  display: inline-block;
}

.nav-link-item li a {
  color: var(--medium-Gray);
  text-decoration: none;
}

.nav li:nth-child(5) {
  margin-left: auto;
}

.btn-register:link,
.btn-register:visited {
  padding: 1.5rem 3rem;
  border: 1px solid var(--almost-Black);
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.btn-register:hover,
.btn-register:active {
  color: var(--almost-Black);
  font-weight: 500;
  border: 3px solid var(--almost-Black);
}

/* dropdown menu */

.link-item-features {
  position: relative;
  display: inline-block;
}

.dropdown-menu-features,
.dropdown-menu-company {
  color: var(--medium-Gray);
  background: white;
  padding: 3rem;
  box-shadow: 1px 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: all 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 35px;

  opacity: 0;
}

.dropdown-menu-features {
  min-width: 10em;
  align-items: center;
  gap: 2rem;
  right: 0;
  /* top: 35px; */
}

.dropdown-menu-company {
  min-width: 9em;
  /* top: 70px; */
}

.dropdown-menu-features li {
  display: flex;
  align-self: flex-start;
  gap: 2rem;
}

.nav .nav-link-item .link-display:hover .dropdown-menu-features,
.nav .nav-link-item .link-display:hover .dropdown-menu-company {
  opacity: 1;
}

/* mobile nav */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4rem;
  width: 4rem;
  color: var(--almost-Black);
}

.close-btn {
  display: none;
}
