.hero-container {
  /* border: 5px solid green; */
  width: 90%;
  max-width: 130rem;
  margin: 0 auto;
  margin-top: 4rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15rem;
}

.hero-left {
  /* border: 5px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

.hero-title {
  color: var(--almost-Black);
  font-size: 8.6rem;
  font-weight: 700;
}

.hero-description {
  width: 90%;
  color: var(--medium-Gray);
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 4rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: var(--almost-White);
  background-color: var(--almost-Black);
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem 4rem;
  border: 1px solid var(--almost-Black);
  border-radius: 15px;
  margin: 4rem 0 10rem 0;
  text-decoration: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: var(--almost-Black);
  font-weight: 700;
  background-color: var(--almost-White);
  border: 1px solid var(--almost-Black);
}

.hero-featured {
  display: flex;
  align-items: center;
  gap: 5rem;

  list-style-type: none;
}

.hero-right {
  /* border: 5px solid blue; */
}

.hero-img {
  width: 100%;
}
