/* Below 1440px */
@media (max-width: 90em) {
  html {
    font-size: 56.25%;
  }

  .hero-container {
    max-width: 120rem;
    gap: 12rem;
  }

  .hero-title {
    font-size: 8.2rem;
  }
}

/* Below 1270px */
@media (max-width: 79em) {
  .hero-container {
    max-width: 120rem;
    margin-top: 8rem;
    gap: 12rem;
  }

  .hero-title {
    font-size: 7.4rem;
  }

  .hero-description {
    font-size: 1.8rem;
    margin-top: 2rem;
  }

  .btn {
    margin-top: 1rem;
  }

  .hero-featured {
    gap: 4rem;
  }

  .hero-featured img {
    width: 9rem;
  }

  .dropdown-menu-features,
  .dropdown-menu-company {
    top: 30px;
  }
}

/* Below  1061px */
@media (max-width: 66em) {
  .nav {
    flex-direction: column;
    gap: 4rem;
  }

  .logo {
    text-align: center;
  }
  .nav li:nth-child(5) {
    margin-left: 0;
  }

  .hero-container {
    gap: 8rem;
  }

  .hero-title {
    font-size: 6.7rem;
  }

  .hero-featured img {
    width: 8rem;
  }
}

/* Below 913px  */
@media (max-width: 57em) {
  .hero-container {
    margin-top: 10rem;
  }

  .hero-featured img {
    width: 7rem;
  }
}

/* Below 893px */
@media (max-width: 56em) {
  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-left {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .hero-title {
    font-size: 8rem;
  }

  .logo {
    text-align: center;
  }

  .nav li:nth-child(5) {
    margin: 0;
  }

  /* mobile nav */

  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 100;
  }

  .nav-link-item {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.5s;

    flex-direction: column;
    gap: 8rem;

    /* Hidding the navigation */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav-link-item {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .close-btn {
    display: block;
  }

  .nav-open .open-btn {
    display: none;
  }

  .dropdown-menu-features,
  .dropdown-menu-company {
    z-index: 100;
  }
}

/* Below 582px */
@media (max-width: 37em) {
  body {
    padding-bottom: 10rem;
  }

  .nav-link-item {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;

    padding-top: 12rem;
    padding-left: 3rem;
  }

  .link-item-features {
    margin-bottom: 16rem;
  }

  .dropdown-menu-features,
  .dropdown-menu-company {
    opacity: 1;
    z-index: 100;
    top: 15px;
    left: 0;

    box-shadow: none;
    border: none;
  }

  .mobile-center {
    align-self: center;
  }

  .hero-container {
    width: 100%;
    margin-top: 0;
  }

  .hero-title {
    font-size: 6.2rem;
    margin-top: 0;
  }

  .hero-right {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

/* Below 435px */
@media (max-width: 27em) {
  html {
    font-size: 43.75%;
  }

  .nav-link-item {
    gap: 7rem;
  }
}
