//////////////////
// HEADER

.header {
  width: 100%;
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 1.5em 1em;
  display: flex;
  align-items: center;

  @include respond(phone) {
    justify-content: space-between;
    flex-direction: row;
    position: relative;
  }
}

.menu {
  width: 100%;
  color: $color-secondary;
}

.menu__button {
  padding: 0.5rem;
  display: none;

  @include respond(laptop-portrait) {
    display: block;
    margin-left: auto;
  }
}

.menu__list {
  width: 100%;
  list-style-type: none;
  z-index: 100;
  display: flex;
  align-items: center;

  @include respond(laptop-portrait) {
    display: block;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 1rem 1.5rem rgba($color-tertiary, 0.2);
    transform: translateX(140%);
    transition: all 0.5s ease-in;

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: none;
  }
}

// DROPDOWN IN MOBILE SCREEN
.menu__open {
  // border: 1px solid red;

  @include respond(laptop-portrait) {
    & .menu__button--toggle {
      opacity: 0;
      z-index: -10;
    }

    & .menu__button--close {
      display: flex;
      margin-left: auto;
    }

    & .menu__close {
      display: block;
    }

    & .menu__list {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
    }
  }
}

.menu__item {
  margin-bottom: 1rem;
  position: relative;
  text-transform: capitalize;

  @include respond(phone) {
    &:nth-child(6) {
      width: 100%;
      text-align: center;
    }
  }

  &:nth-child(6) {
    margin-left: auto;
  }

  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.menu__sublist {
  position: absolute;
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  list-style-type: none;
  box-shadow: 1rem 1rem 1.5rem rgba($color-tertiary, 0.2);
  border-radius: 10px;
  display: none;

  @include respond(laptop-portrait) {
    display: none;
    position: static;
    box-shadow: none;
    padding: 0 0 0 2.5rem;
    border-radius: 0;
    background-color: #fff;
  }

  &--features {
    right: 0;
    width: 11rem;
  }

  &--company {
    width: 9rem;
  }
}

// DROPDOWN IN MOBILE SCREEN
.menu__sub__open .menu__sublist {
  display: block;
}

.menu__item__sublist {
  display: flex;
  align-items: center;
  gap: 1em;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.menu__item__submenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.5rem;
}

.menu__item__link {
  // font-size: clamp(0.938rem, calc(0.375vw + 0.797rem), 1.125rem);
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  width: 100%;

  display: inline-block;
  color: $color-secondary;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: $color-tertiary;
  }
}

//////////////////
// MAIN

.main {
  width: 100%;
  max-width: 71.875rem;
  margin: 0 auto;

  display: flex;
  flex-direction: row-reverse;
  gap: 8rem;

  @include respond(laptop-landscape) {
    width: 95%;
    gap: 5rem;
  }

  @include respond(laptop-portrait) {
    width: 90%;
    flex-direction: column;
    gap: 2rem;
  }

  @include respond(phone) {
    width: 100%;
    gap: 3rem;
  }
}

.main__info__container {
  margin-top: auto;
  display: flex;
  flex-direction: column;

  @include respond(phone) {
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
}

.main__title {
  font-size: clamp(2rem, calc(6vw + 0.25rem), 5rem);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 3rem;

  @include respond(phone) {
    margin-bottom: 1rem;
  }
}

.main__message {
  width: 80%;
  font-size: clamp(0.938rem, calc(0.375vw + 0.797rem), 1.125rem);
  color: $color-secondary;
  margin-bottom: 2.5rem;

  @include respond(phone) {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

.main__img__container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;

  & img {
    width: 70%;

    @include respond(phone) {
      width: 100%;
    }
  }
}

.main__img {
  width: 25%;
}
